h1 {
    font-family: 'Single Day', cursive;
    color: #b2876f;
    text-align: center;
    font-size: 30px;
    margin-top: 60px;
}
.img {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 100px;
}
h2{
    font-family: 'Single Day', cursive;
    color: #b2876f;
    text-align: center;
    font-size: 30px;
    margin-top: 60px;
}